* {
    margin: 0px;
    padding: 0px;
}

.menu-container {
    background-color: rgb(32, 32, 32);
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu {
    display: flex;
    margin-left: 10px;
}

.logo {
    margin-top: 5px;
    width: 150px;
    justify-content: left;
    cursor: pointer;
}

.homeitems {
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
}

.homeitems:hover {
    color: blueviolet;
}

.banner-img {
    width: 300px;
}

.banner-container {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url(./images/background.png), linear-gradient(45deg, rgb(80, 3, 66), rgb(110, 62, 110));
}
.title{
    font-size: 55px;
    font-style: bold;
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.button{
    padding:10px 20px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer; } 
 .about-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
 }
 .about-title{
    text-align: center;
    padding:15px;
    font-size: 50px;
 }